@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


h4,
* {
  font-family: 'Roboto Slab', serif;

}

.login {
  width: 100vw;
  margin: auto;
  position: relative;
  text-align: center;
  display: table;
  height: 100vh;

}

.login img {
  width: 350px;
  transform: rotate(0);
  transition: all 1s;
  transform-origin: center;
  transition-delay: 0.2s;
  margin-bottom: 0;
  margin-right: 20px;

}

.login img:hover {
  transform: rotate(360deg);
}


.login .loginForm {
  margin: auto;
  margin-top: 10px;
  display: grid;
  width: 20vw;

}

.field {
  width: 250px;
  border: 2px solid #ee3568;
  border-radius: 10px;
  padding:0 5px;
}

.field:focus {
  outline: none;
  border: 2px solid gray;
}

.admins {
  color: #ee3568;

}

.subButton {
  margin-left: 24px;
  position: relative;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 35px;
  border-radius: 50px;
  border: 3px solid #ee3568;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #ee3568;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
}

.subButton:focus {
  outline: none;
}

.subButton span {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-color: #ee3568;
  transition: all 0.7s;
  transform: scale(0, 1.1);
  border-radius: 50px;
  transform-origin: center;
}

.subButton:hover span {
  color: #fff;
  transition-duration: 1.2s;
}

.subButton:hover:before {
  opacity: 1;
  transform: scale(1.1, 1);
}



.particles-login {
  width: 100vw;
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 100vh;
  display: table;

}
