@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.body {
  margin: auto;
  width: 80vw;
  position: absolute;

}







/*!  _____________________ Header _____________________*/









.search:focus {
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ee3568;
  background: #ee3568;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}

.searchButton:focus {
  outline: none;
}




/*! ____________________ Card ____________________*/

.cardContainerAll {
  justify-content: center;
  margin: 10px 120px;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-x:hidden;
  height: 100vh;
}

.card {
  width: 230px;
  height: 310px;
  border: 0;
  padding: 1.5rem;
  margin: 10px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-radius: 15px !important;
  border: none !important;
  font-size: 20px;
  text-align: left;

}

.card *{
  justify-content: left;
}


.card:hover {
  transform: scale(1.05);

}



.card:hover:before {
  opacity: 1;

}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);

}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
  border: none;
}

.card img {
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  width: 100%;
}

.card .info h5 {
  margin: 0;
  width: 100%;

}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  
  margin-top: 8px;
}



.card .info button {
  background-color: #fff;
  padding: 0px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
  z-index: 0;
  padding: 7px;
  transition: 0.7s;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;

}

.card .info button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0;
  background-color: #ee3568;
  transition: all 0.7s;
  transform: scale(0, 1.1);
  transform-origin: center;
  z-index: -1;
  outline: none;

}

.card .info button:hover {
  color: #fff;
  border: 2px solid #ee3568;
  transition-duration: .7s;
  filter: blur(0);
  transition-delay: .5s;


}

.card .info button:hover:before {
  opacity: 1;
  transform: scale(1.1, 1.1);
  color: #fff;
  transition-duration: 1s;
  filter: blur(0);
}



/* .gameName {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    display: none; 
}    */

.card .gameName {
  display: none;


}

.card .info button:focus {
  outline: none;
}





/*! _______________________ Scroll Bar ______________________ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #c81143;

  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  background: #a8bbbf;

}

.dash {
  scrollbar-width: thin;
  width: 36vw;
  overflow-x: hidden;
  height: 500px;
}

.dash ::-webkit-scrollbar {
  width: 500px;
  border-radius: 1px;
}

.dash::-webkit-scrollbar-thumb {
  background: #ee3568;
  border-radius: 20px;
}


/*!  ____________________ Responsiveness ___________________*/

@media screen and (max-width:1919px) {
  .card {

    width: 200px;
  }

}



@media screen and (max-width:1743px) {
  body {
    width: 80vw;
    margin: auto;
  }


  .cardContainerAll {

    margin: 10px;

  }
}

@media screen and (max-width:800px) {



  .cardContainerAll {
    margin: 20px;
  }

  .fiveCards {
    box-shadow: none;

  }


}

@media screen and (min-width:801px) and (max-width:874px) {
  .cardContainerAll {
    margin: 50px;

  }

}

@media screen and (max-width:1100px) {
  form {
    margin: auto 0 auto 50px;
  }

  .fiveCards {
    box-shadow: none;
    margin: 0;
  }
}

@media screen and (max-width:850px) {
  .search {
    width: 250px;
  }


}

@media screen and (max-width:700px) {

  form {
    margin: auto 0 auto 0px;
  }

  .search {
    width: 195px;
  }

  .header {
    flex-wrap: wrap;
  }

  .search {
    margin-left: auto;
  }
}

.card .info .myTrash img {
  width: 30px;
  height: 30px;
border-radius: 0;

} 

.card .info .myTrash{
 margin-top: 20px;
  cursor: pointer;
  position: relative;
}