@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ee3568;
  background: #ee3568;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}

.searchButton:focus {
  outline: none;
}

.headerForm {
  margin: 0;
  width: 100vh;
  align-self: center;
  margin-left: 33.3%;
  position: relative;
  display: flex;
  margin-left: 29.5%;
}

.dashSearch form{
  margin-left: 35vw;
}